body {
  background: #93a17e;
}


.searchTitle {
  width: 210px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  background: ;
  font-size: 20px;
}


.inputAreaDiv {
  display: flex;
  margin-top: 5px;
  margin-left: 10%;
  margin-right: 10%;
  background: ;
}


.inputForm {
  width: 240px;
  margin-left: auto;
  margin-right: auto;
}


.inputArea {
  width: 210px;
  height: 25px;
}


.buttonSearchDiv {
  display: flex;
  margin-top: 30px;
  margin-left: 10%;
  margin-right: 10%;
  background: ;
}


.buttonSearch {
  width: 90px;
  height: 35px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2px;
  border: 1px solid;
}


.titleResultat {
  display: flex;
  width: 210px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  background: ;
  font-size: 20px;
}


.resultat {
  display: flex;
  width: 210px;
  height: 27px;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  background: white;
}


.divObsij {
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  background: ;
}


.divKorSoders {
  height: 40px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background: ;
}


.resultKor {
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  background: ;
}
