body {
  background: #93a17e;
}


.searchTitle {
  width: 230px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  background: ;
  font-size: 17px;
}


.inputAreaDiv {
  display: flex;
  margin-top: 5px;
  margin-left: 10%;
  margin-right: 10%;
  background: ;
}


.inputForm {
  width: 290px;
  margin-left: auto;
  margin-right: auto;
}


.inputArea {
  width: 290px;
  height: 30px;
  padding: 0.375rem 0.75rem;
  font-size: 10px;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}


.buttonSearchDiv {
  width: 91px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  background: ;
}


.buttonSearch {
  margin-top: 2px;
  width: 90px;
  height: 35px;
  color: #343a40;
  border-color: #343a40;
}


.buttonSearch:hover {
  margin-top: 2px;
  width: 90px;
  height: 35px;
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
}


.titleResultat {
  display: flex;
  width: 230px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  background: ;
  font-size: 17px;
}


.resultat {
  display: flex;
  width: 230px;
  height: 40px;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  background: white;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}


.divObsij {
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  background: ;
}


.spanVesi {
margin-top: 10px;

}




.divKorSoders {
  height: 40px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  background: ;
}


.resultKor {
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  background: ;
}
